<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0" xmlns="http://www.w3.org/1999/html">

  <div fxFlex="40">
    <mat-card>
    <mat-card-title-group>
    <mat-card-title>
    <h3>{{items.name | uppercase}}</h3>
    </mat-card-title>
    </mat-card-title-group>
    <img matCardImage src={{items.image}} alt={{items.name}}>
    <mat-card-content>
    <p>{{items.description}}
    </p>
    </mat-card-content>
    <mat-card-actions align="start">
    <button mat-button (click)="onAction($event)">LIKE</button>
    <button mat-button (click)="onAction($event)">SHARE</button>
    </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <h1> comentarios</h1>

    <mat-list dense > <!-- fxFlex indica que sera tratado como una pieza de contenido-->
      <mat-card>
      <mat-list-item *ngFor="let coment of items.comments">


        <p matLine> AUTHOR: {{coment.author}} </p>

        <p matLine> COMENTARIO: {{coment.comment}} </p>

        <p matLine> FECHA: {{coment.date | date}} </p>

        <p matLine> RATING: {{coment.rating}} </p>

        <mat-divider></mat-divider>

      </mat-list-item>
      </mat-card>
    </mat-list>


  </div>

